<!-- Derived from the Xanthan template: https://github.com/xanthan-web/xanthan-web.github.io -->

<!-- Footnotes -->
<script src="https://unpkg.com/littlefoot/dist/littlefoot.js" type="application/javascript"></script>
<script type="application/javascript">
  littlefoot.littlefoot({
    buttonTemplate: '<button aria-label="Footnote <%= number %>" class="littlefoot__button"><%= number %></button>'
  });
</script>

<!-- Navbar (mobile collapse) -->
<script src="{{ site.baseurl }}/assets/js/nav.js"></script>

<!-- Search -->
{% if site.search %}
<script src="{{ site.baseurl }}/assets/js/vendor/lunr.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/search.js"></script>
{% endif %}
